$appBg = #15232c
$sidebarBg = #3a444d
$buy = #4da53c
$sell = #ff6939
$horizRule = #505962
$inputBorder = #505962
$textQuote = #ced2d5
$textMud = #757575 // digits inside `amount` input field
$textCream = #ecedee // Currency label inside `amount` input field
$textGrey = #a1a7aa
$textCharcoal = #444f56
$textHover = #5e9cdb
$cbBlue = #1D75B7
$insigFig = #424C55
