.app
  background $appBg
  position absolute
  top 0px
  bottom 0px
  left 0px
  right 0px
  .error-message
    position absolute
    top 0px
    right 0px
    bottom 0px
    left 0px
    display flex
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background $sidebarBg
    color $textCream
    font-size 24px
    font-family 'Lato Light'
    span
      display block
    .msg
      width 80%
      text-align center
      letter-spacing 0.618px
      line-height 1.618
