.trade-type
  display flex
  justify-content center
  align-items center
  .btn-trade-type
    font-size 12px
    font-family 'Lato Bold'
    text-transform uppercase
    margin 16px 1px
    width 94px
    height 30px
    text-align center
    line-height 30px
    cursor pointer
    transition all 0.15s ease-in-out
