.product-selector
  display flex
  justify-content space-around
  align-items center
  background #fff
  height 45px
  width 50%
  color #000
  cursor pointer
  .label
    .current-product
      color $textCharcoal
      font-size 15px
      transition all 0.15s ease
      font-family 'Lato Bold'
    .prompt
      color #d0d3d5
      font-size 11px
      text-transform capitalize
  i
    color $textCharcoal
